<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="toggleCameraMenu()">
        <ion-icon slot="icon-only" name="camera-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>{{'bottomTabs.main' | translate}}</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="ion-no-padding">
    <ion-segment mode="md" scrollable value="news">
      <ng-container *ngFor="let tab of (tabs$ | async);trackBy: trackBy">
        <ion-segment-button *ngIf="tab['skeleton']">
          <ion-label><ion-skeleton-text animated style="width: 70px"></ion-skeleton-text></ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="tab.name" *ngIf="!tab['skeleton']">
          <ion-label>{{'mainTabs.' + tab.name | translate}}</ion-label>
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-users-stories [stories]="(stories$ | async)"></app-users-stories>
  <app-users-posts [posts]="(news$ | async)"></app-users-posts>
</ion-content>
