.message-divider {
  position: relative;
  --background: transparent;
  z-index: 4;
  margin: auto;
  border-bottom: 0px;

  // remove paddings
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --ion-safe-area-left: 0px;
  --ion-safe-area-right: 0px;

  // on scrolling set sticky divider
  &.scrolling {
    position: sticky;
    top: 10px;
  }

  // center divider text
  ion-label {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    margin: 8px auto 0px auto;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    background: var(--ion-background-color, #fff);
  }
}
