<ion-menu
  side="start"
  type="push"
  menuId="camera"
  contentId="main"
  class="camera-menu"
  disabled
  (ionWillOpen)="onOpenCameraMenu($event)"
  (ionDidClose)="onCloseCameraMenu($event)"
>
  <ion-content (click)="getCameraFocusCoordinates($event)">
    <div
      class="loader-6 center"
      [ngStyle]="{ left: cameraFocusPosition.left + 'px', top: cameraFocusPosition.top + 'px' }"
      *ngIf="cameraFocusPosition.show"
    >
      <span></span>
    </div>
    <ion-toolbar style="--background: transparent">
      <ion-buttons slot="start">
        <ion-button color="primary" (click)="openCameraSettings($event)">
          <ion-icon size="large" slot="icon-only" name="cog-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button color="primary" (click)="closeCameraSideMenu($event)">
          <ion-icon size="large" slot="icon-only" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-row class="camera-control">
      <ion-col size="12" class="controls">
        <ion-button fill="clear" color="primary" [disabled]="isCameraFront" (click)="switchFlashMode($event)">
          <ion-icon slot="icon-only" [name]="isCameraFlashMode ? 'flash-off-outline' : 'flash-outline'"></ion-icon>
        </ion-button>
        <ion-fab-button color="primary" class="shoot-control" (click)="takePicture($event)">
          <div class="circle"></div>
        </ion-fab-button>
        <ion-button fill="clear" color="primary" (click)="switchCamera($event)">
          <ion-icon slot="icon-only" name="sync-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <!--<ion-col size="12">
          <ion-segment mode="ios" style="max-width: 320px;margin: auto;" (ionChange)="segmentChanged($event)">
            <ion-segment-button>
              <ion-label>Qr scanner</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>Live</ion-label>
            </ion-segment-button>
            <ion-segment-button>
              <ion-label>Story</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>-->
    </ion-row>
  </ion-content>
</ion-menu>
