<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'back_title' | translate" defaultHref="/tabs/profile/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'appearance_title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group [formControl]="isDark">
      <ion-list-header>
        <ion-label>Modes</ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-label>Light</ion-label>
        <ion-radio slot="end" [value]="false"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Dark</ion-label>
        <ion-radio slot="end" [value]="true"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>