<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="'back_title' | translate" defaultHref="/tabs/profile/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'about_title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-padding-top ion-text-center">
        <img src="./assets/logo/TK_DEFAULT_LOGO.png" width="96px" />
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <ion-text>Version 6.6</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>