.message-textarea {
  max-height: 100px;
  --background: var(--ion-color-light);
  border-radius: 20px;
  --padding-top: 10px;
  --padding-end: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
}
