<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="''" defaultHref="/tabs/explore"></ion-back-button>
    </ion-buttons>
    <ion-searchbar [formControl]="searchMusic" [placeholder]="'music_search_title' | translate"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment mode="md" [formControl]="activeSegment">
      <ion-segment-button value="my_music">
        {{'my_music' | translate}}
      </ion-segment-button>
      <ion-segment-button value="recommended">
        {{'recommended' | translate}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="activeSegment.value === 'my_music'">
    <ion-list-header lines="none">
      <ion-label>Playlists</ion-label>
      <ion-button>Show All</ion-button>
    </ion-list-header>
    <div scrollX="true">
      <ion-card class="playlist-card scrollX" *ngFor="let item of [1,2,3,4,5,6]">
        <img src="./assets/musics/img/5612785349.jpg" />
        <ion-card-content>
          <p class="album-description">
            <span class="album-name">Веселей</span>
            <small class="album-author">Скриптонит</small>
            <small class="album-year">2020</small>
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>
</ion-content>