.playlist-card {
    --background: var(--ion-background-color, #fff);
    box-shadow: none;
    width: 150px;
    margin: 0;
    padding-right: 20px;

    &:first-of-type {
        margin-left: 20px;
    }

    img {
        border-radius: 8px;
        width: 150px;
    }

    ion-card-content {
        padding: 0;
        padding-top: 6px;
    }

    .album-description {
        display: grid;

        .album-name {
            color: var(--ion-color-medium);
            font-weight: 600;
        }

        .album-author, .album-year {
            color: var(--ion-color-medium);
        }
    }
}

.music-item {
    --background: var(--ion-background-color);
    --padding-start: 0;
    padding-left: 12px;
    --ion-safe-area-right: 0;
    --padding-end: 0;
    --inner-padding-end: 0;

    img {
        border-radius: 8px;
        width: 50px;
        height: 50px;
    }
}