<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="scan-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{'bottomTabs.services' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="explore">
      <ion-col size="4" size-md="3" size-xl="2" class="explore-category" *ngFor="let explore of explores">
        <ion-item lines="none" detail="false" class="explore-item" (click)="openServicePage(explore)">
          <ion-label class="ion-text-center ion-no-margin">
            <ion-icon [name]="explore.icon" [color]="explore.color" class="explore-category-icon"></ion-icon>
            <h6 class="explore-category-title">{{'services.' + explore.id | translate}}</h6>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
