.explore {
  margin-top: 16px;
}

.explore-category {
  padding: 0;
  margin-bottom: 16px;
  text-align: center;
}

.explore-category-icon {
  font-size: 34px;
}

.explore-category-title {
  margin: 0;
  font-weight: 500;
}

.explore-item {
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --ion-safe-area-left: 0px;
  --ion-safe-area-right: 0px;
  --background-activated-opacity: 0.05;
}
