.stories-card {
  margin: 0px;
  margin-top: var(--ion-margin, 16px);
  border-radius: 0px;

  .story-list {
    --background: inherit;
    background: initial;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .story-item {
    --inner-padding-bottom: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --inner-padding-top: 0px;
    --padding-end: 0px;
    --padding-start: 0px;
    --background: inherit;

    margin: var(--ion-margin, 8px);
    transition: all 0.1s ease-in-out;

    &:active {
      transform: scale(1.1);
    }
  }

  .story-avatar {
    background: var(--ion-color-primary);
    height: 64px;
    width: 64px;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 0px;

    &.seen {
      background: var(--ion-color-light);
    }

    img {
      border: 2px solid var(--background, white);
      border-radius: 50%;
    }
  }

  .story-author {
    text-align: center;
    margin-bottom: var(--ion-margin, 8px);
  }
}
