.image-card {
    margin: 0;
    border-radius: 12px;
    height: 95%;
    min-height: 120px;

    ion-buttons {
        position: absolute;
        left: 0;
        bottom: 0;

        .button {
            --color: #ffffff !important;
        }
    }
}


.post-image {

}

.post-full {

}

.post-image, .post-full {
    ion-avatar {
        width: 32px;
        height: 32px;
    }
}