.image-card {
    margin: 0;
    border-radius: 12px;
    height: 95%;
    min-height: 150px;

    ion-buttons {
        position: absolute;
        left: 0;
        bottom: 0;

        .button {
            --color: #ffffff !important;
        }
    }
}

.post-image {

}

.post-full {

}