:host {
  &:last-child {
    margin-bottom: var(--ion-margin, 32px);
  }
}

// Post card list
.post-list-card {
  margin-top: var(--ion-margin, 16px);
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  border-radius: 0px;

  ion-item {
    --inner-padding-end: 0px;
    --background: inherit;
  }

  .post-list-content {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .action-item {
    .action-button {
      margin-right: var(--ion-margin, 16px) !important;
    }
  }
}
