.explore {
    margin-top: 16px;
}

.explore-category {
    padding: 0;
    margin-bottom: 16px;
    text-align: center;
}

.explore-category-icon {
    font-size: 34px;
}

.explore-category-title {
    margin: 0;
    font-weight: 400;
}