.camera-control {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shoot-control {
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --background-hover: transparent;
        --box-shadow: none;

        width: 72px;
        height: 72px;

        .circle {
            width: 90%;
            height: 90%;
            background: rgba(var(--ion-color-primary-rgb), 0.2);
            border-radius: 50%;
            border: 4px solid #ffffff;
        }
    }
}


/* Loader 6 */
.loader-6 {
    position: absolute;
	height: 32px;
	width: 32px;
}
.loader-6 span {
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
}
.loader-6 span::before,
.loader-6 span::after {
	content: "";
	display: block;
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	height: 32px;
	width: 32px;
	border: 2px solid #FFF;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
	        animation: loader-6-1 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000);
}
@-webkit-keyframes loader-6-1 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}
@keyframes loader-6-1 {
	0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { transform: translate3d(0, 0, 0) scale(1.5); opacity: 0; }
}
.loader-6 span::after {
	-webkit-animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s;
	        animation: loader-6-2 1.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) .25s;
}
@-webkit-keyframes loader-6-2 {
	0%   { -webkit-transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { -webkit-transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
}
@keyframes loader-6-2 {
	0%   { transform: translate3d(0, 0, 0) scale(0); opacity: 1; }
	100% { transform: translate3d(0, 0, 0) scale(1); opacity: 0; }
}